<h1><%= @list.name %></h1>

<% if @list.tasks.any? %>
  <h4>Here are the undone tasks for this list:</h4>

  <ul>
    <% @list.tasks.not_done().each do |task| %>
      <li>
        <%= task.description %> |
        <%= link_to "Edit", edit_list_task_path(@list, task) %> |
        <%= link_to "Delete", list_task_path(@list, task),
                                :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
        <%= form_for [@list, task] do |f| %>
          <%= f.hidden_field(:done, :value => !task.done) %>
          <p><%= f.submit "Toggle Done/Not Done" %></p>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h4>Here are the completed tasks for this list:</h4>
  <ul>
    <% @list.tasks.done().each do |task| %>
      <li>
        <%= task.description %> |
        <%= link_to "Edit", edit_list_task_path(@list, task) %> |
        <%= link_to "Delete", list_task_path(@list, task),
                                :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
        <%= form_for [@list, task] do |f| %>
          <%= f.hidden_field(:done, :value => !task.done) %>
          <p><%= f.submit "Toggle Done/Not Done" %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tasks yet!</p>
<% end %>

<p><%= link_to "Add a task", new_list_task_path(@list) %></p>

<p>
  <%= link_to "Delete List", list_path(@list),
                        :data => {:confirm => "Are you sure?",
                                  :method => "delete"} %>
</p>

<p><%= link_to "Return to Lists", lists_path %></p>
